
#homeContainer {
    display:block;
}
#mandelBoxContainer {
    display:block;
}
.geoSVG {
    position:absolute;
    border:1px solid black;
    /* width:300px;
    height:300px; */
    left:50fr;
    top:75px;
}
#sequenceSelector {
    top:0px;
    width:800px;
    height:25px;
    position:absolute;
}

.geoCanvas {
    position:absolute;
    border: 1px solid black;
    left:50fr;
    top:125vh;
}
#epicycloidGroup > * {
    /* transition:transform 2s ease-in; */
    stroke:url(#gradient);
    mix-blend-mode:luminosity;
    
    stroke-linecap: round;
    fill:url(#Pattern);
    /* fill:#000000; */
    fill-rule: evenodd;
    /* box-shadow: 5px 5px 3px #000000; */
    /* filter:url(#dispFilter); */
    /* transform-origin: center; */
    /* transform:scale(2); */
}
/* #epicycloidGroup:nth-child(n) {
    transition:transform 2s ease-in;
    filter:drop-shadow(30px 30px 4px #000000);
    transform:skew(60deg);
    transform-origin: center;
    transform-style: preserve-3d;
} */

/* #epicycloidGroup > *:hover {
    
    transform: rotate(30deg);

} */