
#homeContainer {
    display:block;
}
.geoSVG {
    position:absolute;
    border:1px solid black;
    left:50fr;
    top:75px;
}
#sequenceSelector {
    top:0px;
    width:800px;
    height:25px;
    position:absolute;
}

.geoCanvas {
    position:absolute;
    border: 1px solid black;
    left:50fr;
    top:125vh;
}